<h1>動画のアップロード</h1>

<%= link_to '一覧へ戻る', videos_path, class: 'btn btn-secondary mb-3' %>

<%= form_with model: @video, local: true, html: { multipart: true, id: "upload-form" }, data: {turbo: false} do |form| %>
  <% if flash[:alert] %>
    <div style="color: red;"><%= flash[:alert] %></div>
  <% end %>

  <% if flash[:notice] %>
    <div style="color: green;"><%= flash[:notice] %></div>
  <% end %>

  <div class="field">
    <p>動画ファイル</p>
    <div id="drop-zone" class="drop-zone border rounded shadow p-5 text-center mb-3">
      <%= form.file_field :video_file, accept: 'video/*', id: "file-input", class: "form-control d-none" %>
    </div>
  </div>

  <div class="actions mt-3 text-center">
    <%= form.submit "アップロード", id: "submit-button", class: "btn btn-primary btn-lg mt-3 d-none" %>
  </div>
<% end %>
